/* Custom property declarations */
:root {
    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;
    --purple-600: #855FB1;
    --purple-300: #D9B8FF;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;
    --white: #FAFAFA;
    --font-family: 'Red Hat Display', sans-serif;
    --font-size-1-desktop: 4rem;
    --font-size-1-tablet: 3rem;
    --font-size-1-mobile: 2.5rem;
    --font-size-2-desktop: 2.5rem;
    --font-size-2-tablet: 2.25rem;
    --font-size-2-mobile: 2rem;
    --font-size-3-desktop: 1rem;
    --font-size-3-tablet: 0.875rem;
    --font-size-3-mobile: 0.75rem;
    --font-size-4-desktop: 1.125rem;
    --font-size-4-tablet: 1rem;
    --font-weight-1: 900;
    --font-weight-2: 500;
    --line-height-1-desktop: 4.4rem;
    --line-height-1-tablet: 3.3rem;
    --line-height-1-mobile: 2.75rem;
    --line-height-2-desktop: 2.75rem;
    --line-height-2-tablet: 2.475rem;
    --line-height-2-mobile: 2.2rem;
    --line-height-3-desktop: 1.1rem;
    --line-height-3-tablet: 0.9625rem;
    --line-height-3-mobile: 0.825rem;
    --line-height-4-desktop: 1.6875rem;
    --line-height-4-tablet: 1.5rem;
    --letter-spacing-accent: 0.25rem;
    --spacing-50: 0.25rem;
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-700: 3.5rem;
    --spacing-800: 4rem;
    --spacing-900: 4.5rem;
    --spacing-1000: 5rem;
    --spacing-1400: 7rem;
}

/* Fonts */
@font-face {
    font-family: var(--font-family);
    src: url(../assets/fonts/RedHatDisplay-Medium.ttf) format('truetype');
    font-weight: var(--font-weight-2);
}

@font-face {
    font-family: var(--font-family);
    src: url(../assets/fonts/RedHatDisplay-Black.ttf) format('truetype');
    font-weight: var(--font-weight-1);
}

/* Global styles and style reset */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-4-tablet);
    font-weight: var(--font-weight-2);
    line-height: var(--line-height-4-tablet);
    text-align: center;
}

/* Desktop global styles */
@media screen and (min-width: 1440px) {
    body {
        font-size: var(--font-size-4-desktop);
        line-height: var(--line-height-4-desktop);
    }
}