@import './global.css';

/* Mobile styles */
.title {
    font-size: var(--font-size-1-mobile);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-1-mobile);
    color: var(--slate-900);
}

.section-title {
    font-size: var(--font-size-2-mobile);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-2-mobile);
    color: var(--slate-900);
}

.remark {
    font-size: var(--font-size-3-mobile);
    font-weight: var(--font-weight-1);
    text-transform: uppercase;
    line-height: var(--line-height-3-mobile);
    letter-spacing: var(--letter-spacing-accent);
    color: var(--cyan-600);
}

.footer {
    background-color: var(--cyan-600);
}

/* Tablet styles */
@media screen and (min-width: 768px) {
    .title {
        font-size: var(--font-size-1-tablet);
        line-height: var(--line-height-1-tablet);
    }
    
    .section-title {
        font-size: var(--font-size-2-tablet);
        line-height: var(--line-height-2-tablet);
    }
    
    .remark {
        font-size: var(--font-size-3-tablet);
        line-height: var(--line-height-3-tablet);
    }
}

/* Desktop styles */
@media screen and (min-width: 1440px) {
    .title {
        font-size: var(--font-size-1-desktop);
        line-height: var(--line-height-1-desktop);
    }
    
    .section-title {
        font-size: var(--font-size-2-desktop);
        line-height: var(--line-height-2-desktop);
    }
    
    .remark {
        font-size: var(--font-size-3-desktop);
        line-height: var(--line-height-3-desktop);
    }
}