@import './global.css';
@import './components.css';

/* Mobile styles */
.container {
    width: var(--mobile);
    margin: 0 auto;
    padding: 0 var(--spacing-400);
}

.header {
    display: flex;
    align-items: end;
    height: 76px;
}

.navigation {
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: var(--spacing-800);
    padding-bottom: var(--spacing-400);
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-200);
}

.title {
    font-size: var(--font-size-1-mobile);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-1-mobile);
    color: var(--slate-900);
}

.about {
    padding-top: var(--spacing-400);
    padding-bottom: var(--spacing-800);
}

.about_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-800);
}

.about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-400);
}

.about_headings {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-200);
}

.gallery_item {
    border-radius: 8px;
    overflow: hidden;
}

.section-title {
    font-size: var(--font-size-2-mobile);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-2-mobile);
    color: var(--slate-900);
}

.remark {
    font-size: var(--font-size-3-mobile);
    font-weight: var(--font-weight-1);
    text-transform: uppercase;
    line-height: var(--line-height-3-mobile);
    letter-spacing: var(--letter-spacing-accent);
    color: var(--cyan-600);
}

.footer {
    position: relative;
    margin-top: 110px;
    padding-top: var(--spacing-800);
    padding-bottom: var(--spacing-800);
    background-color: var(--cyan-600);
    background-image: linear-gradient(rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)), 
            url('/assets/images/mobile/meet-footer-mobile.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer_number {
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-300);
    color: var(--white);
}

.footer_content .section-title {
    color: var(--white);
}

/* Tablet styles */
@media screen and (min-width: 768px) {
    .container {
        width: var(--tablet);
    }

    .hero {
        gap: var(--spacing-900);
        padding-bottom: var(--spacing-800);
    }

    .hero_content {
        margin: 0 auto;
        width: 448px;
    }

    .buttons {
        flex-direction: row;
        justify-content: center;
        gap: 17px;
    }
    
    .title {
        font-size: var(--font-size-1-tablet);
        line-height: var(--line-height-1-tablet);
    }

    .gallery {
        display: flex;
        justify-content: center;
        gap: var(--spacing-300);
    }

    .about {
        padding-top: var(--spacing-700);
    }

    .about_content {
        max-width: 544px;
    }

    .about_headings {
        max-width: 445px;
    }

    .section-title {
        font-size: var(--font-size-2-tablet);
        line-height: var(--line-height-2-tablet);
    }
    
    .remark {
        font-size: var(--font-size-3-tablet);
        line-height: var(--line-height-3-tablet);
    }

    .footer {
        background-image: linear-gradient(rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)),
                url('/assets/images/tablet/meet-footer-tablet.webp');
    }
}

/* Desktop styles */
@media screen and (min-width: 1440px) {
    .container {
        width: var(--desktop);
        padding: 0 var(--spacing-1000);
    }

    .header {
        height: 108px;
    }

    .hero_content {
        gap: var(--spacing-400);
    }

    .title {
        font-size: var(--font-size-1-desktop);
        line-height: var(--line-height-1-desktop);
    }

    .about {
        padding-bottom: var(--spacing-900);
    }

    .gallery {
        gap: var(--spacing-400);
    } 
    
    .section-title {
        font-size: var(--font-size-2-desktop);
        line-height: var(--line-height-2-desktop);
    }
    
    .remark {
        font-size: var(--font-size-3-desktop);
        line-height: var(--line-height-3-desktop);
    }

    .footer {
        padding-top: var(--spacing-1400);
        padding-bottom: var(--spacing-1400);
        background-image: linear-gradient(rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)),
                url('/assets/images/desktop/meet-footer-desktop.webp');
    }

    .footer_content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 1120px;
        text-align: left;
    }

    .footer_content .section-title {
        width: 455px;
    }

    .footer_content .description {
        width: 355px;
    }
}