/* Global styles and style reset */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
    height: auto;
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-4-tablet);
    font-weight: var(--font-weight-2);
    line-height: var(--line-height-4-tablet);
    text-align: center;
    color: var(--slate-600);
    background-color: var(--white);
}

/* Desktop global styles */
@media screen and (min-width: 1440px) {
    body {
        font-size: var(--font-size-4-desktop);
        line-height: var(--line-height-4-desktop);
    }
}